{{yield (action (toggle 'isNewTicketModalOpen' this))}}

{{#if isNewTicketModalOpen}}
  {{#modal-dialog
      close=(action (mut isNewTicketModalOpen false))
      targetAttachment="center"
      translucentOverlay=true}}
    <div class="ui fluid action input">
      {{input value=name class="item-150"}}
      <button class="ui black button" {{action 'addNewTicket' name}} disabled={{not canAddNewTicket}} >Add</button>
    </div>
  {{/modal-dialog}}
{{/if}}
