@import './libraries';

.ui.section.segment{
  padding: 0;
}

body{
  background: #F2F3F5;
}
.ember-application, .ember-view, .body.grid{
  height: 100%;
}
.ember-modal-dialog{
  height: auto;
}
.side.menu.column{
  background: #1b1c1d;
  padding: 0;
}
.ui.grid{
  margin: 0;
}

h3.section{
  margin: 0;
  margin-left: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}
.row.button{
  padding-left: 1em!important;
  margin-top: 0.5em;
}

.nav-home{
  color: black;
  position: absolute;
  top: 1.4em;
  right: 1em;
}

.big.ember-modal-dialog{
  left: 10%!important;
  right: 10%!important;
  margin-left: 0!important;
}
.order.column{
  padding-top: 0.5em!important;
  padding-bottom: 0.5em!important;
}
.item-150{
  min-width: 150px;
}
