@import './libraries';

.ui.section.segment{
  padding: 0;
}

body{
  background: #F2F3F5;
}
.ember-application, .ember-view, .body.grid{
  height: 100%;
}
.ember-modal-dialog{
  height: auto;
}
.side.menu.column{
  background: #1b1c1d;
  padding: 0;
}
.ui.grid{
  margin: 0;
}

h3.section{
  margin: 0;
  margin-left: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}
.row.order, .order.button{
  padding-left: 1em!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  margin-top: 0.3em;
}

.nav-home{
  color: black;
  position: absolute;
  top: 1.4em;
  right: 1em;
}

.big.ember-modal-dialog{
  left: 10%!important;
  right: 10%!important;
  margin-left: 0!important;
}
.order.column{
  padding-top: 0.5em!important;
  padding-bottom: 0.5em!important;
}
.item-150{
  min-width: 150px;
}
h1.exclusive.waitress{
  font-size: 8vw;
  margin: 10vw;
}
h1.exclusive.payment{
  font-size: 5vw;
  margin: 5vw;
}
.big{
  padding: 1vw;
}
.big>h2{
  font-size: 3vw;
  margin-bottom: 0.5vw;
}
.big>.button{
  margin-top: 0.5vw;
}
.big>h4{
  font-size: 1.5vw;
  margin-top: 0;
  margin-bottom: 0.2vw;
}
.big>.list{
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}
.big>.list>.item{
  font-size: 1.5vw;
}

