{{#link-to "menu.items" category.category}}
  <div class="ui fluid section segment">
    <img class="ui fluid image" src="{{category.image}}" alt="">
    <h3 class="section">{{category.title}}</h3>
  </div>
{{/link-to}}
