<h2>Menu</h2>

<div>
  {{outlet}}
</div>

{{order-view}}

{{#if isOrderingModalOpen}}
  {{modal-order
      item=_itemToOrder
      close=(action (toggle 'isOrderingModalOpen' this))
      submit='addOrder'}}
{{/if}}
