<h2>Menu</h2>
{{#if isSubmenu}}
  {{#link-to 'menu' class="nav-home"}}
    <i class="icon arrow circle left big"></i>
  {{/link-to}}
{{/if}}

<div>
  {{outlet}}
</div>

{{order-view}}

{{#if isOrderingModalOpen}}
  {{modal-order
      item=_itemToOrder
      close=(action (toggle 'isOrderingModalOpen' this))
      submit='addOrder'}}
{{/if}}
