<h2>Menu</h2>

<div>
  {{outlet}}
</div>

<div>
  Current order
  {{#each model as |ticket|}}
    <ul>
      <li><strong>Ticket: {{ticket.ticket.name}}</strong></li>
      {{#each ticket.items as |item|}}
        <li>{{item.item.name}}</li>
      {{/each}}
    </ul>
  {{/each}}
</div>

{{#if isOrderingModalOpen}}
  {{modal-order
      item=_itemToOrder
      close=(action (toggle 'isOrderingModalOpen' this))
      submit='addOrder'}}
{{/if}}
